{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:import/errors",
    "plugin:import/typescript"
  ],
  "globals": { "JSX": "readonly" },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "root": true,
  "rules": {
    "@typescript-eslint/semi": ["error"],
    "import/order": [
      "error",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "groups": ["external", "builtin", "parent", ["sibling", "index"]],
        "newlines-between": "never",
        "pathGroupsExcludedImportTypes": ["builtin"]
      }
    ],
    "max-depth": "error",
    "max-nested-callbacks": ["error", 4],
    "max-statements-per-line": ["error", { "max": 1 }],
    "no-array-constructor": "error",
    "no-console": "error",
    "no-duplicate-imports": "error",
    "no-lonely-if": "error",
    "no-multi-assign": "error",
    "no-negated-condition": "error",
    "no-nested-ternary": "error",
    "no-restricted-syntax": ["error", "ClassDeclaration", "ClassExpression"],
    "no-unneeded-ternary": "error",
    "no-useless-computed-key": "error",
    "no-useless-rename": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-const": "error",
    "prefer-destructuring": "error",
    "prefer-object-spread": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "unicode-bom": "error"
  }
}
